/* colors */
/* $dark-color: #492338;
$light-color: #E8D6CB;
$light-pink: #D0ADA7;
$gold: #f8c765; */


/* * {
 border: 2px solid red;
} */

h1 {
  color: #f8c765;
  width: 100%;
}

p {
  color: #D0ADA7;
}

.bg-purple {
  background-color: #3b1c2d9d;
}

.text-purple {
  color: #492340;
}

.text-gold {
  color: #f8c765;
}

.jumbotron {
  background-color: transparent!important;
  width: 100%;
  height: 100%;
}

.card-header {
  padding: 0!important;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.header {
 position: relative;
 height: 100%;
}

.bg-header{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header-wrapper, .signUp-wrapper {
  background-color: #ffffff03!important;
}

.header-div, .quote-div {
  width: fit-content;
  height: auto;
  padding: 100px;
  margin: 15%;
}

.gallerry {
  padding: 10px;
}


@media (max-width: 376px) {
  .header-div {
    width: 100%;
    padding: 10px;
    margin: 10% 0;
  }

  .quote-div {
    width: 100%;
    padding: 7px;
    margin: 7% 0;
  }

  h1{
    text-align: center;
    padding: 2px;
    font-size: 20px!important;
  }

  p {
    font-size: 14px;
  }

  
 }

@media (min-width: 376px) {
  .header-div{
    width: 100%;
    padding: 10px;
    margin: 19% 0;
  }
  .quote-div {
    width: 100%;
    padding: 16px;
    margin: 10% 0;
  }

  p {
    font-size: 14px;
  }

  h1{
    text-align: center;
    padding: 5px;
  }
  
 }

@media (min-width: 576px) {
  .header-div{
    width: 100%;
    padding: 50px;
    margin: 14%;
  }

  .quote-div {
    width: 100%;
    padding: 50px;
    margin: 10% 0%;
  }

  p {
    font-size: 15.5px;
  }

  h1{
    text-align: left;
    padding: 5px;
  }

 }

@media (min-width: 768px) {

  .header-div{
    width: 50%;
    padding: 50px;
    margin: 14%;
  }

  .quote-div {
    width: 50%;
    padding: 50px;
    margin: 20% 50%;
  }
 }


@media (min-width: 992px) { 

 }


@media (min-width: 1200px) { 

}