* {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  /* border: 1px solid red; */
}

/* colors */

.bg-green {
  background-color:  #51930a;
}

.text-green {
  color:  #51930a;
}

.bg-light-green {
  background-color: #b7cca1;
}

.text-light-green {
  color: #b7cca1;
}

.bg-beige {
  background-color: #f5f1ed;
}

.text-beige {
  color: #f5f1ed;
}

/* fonts */

.handwritting {
  color: black;
  margin-left: 0.5em;
  font-weight: 150;
}

.handwritting-font {
 font-family: 'Handlee', cursive;
 letter-spacing: 1.4px;
 font-size: 1.5em;
}

.font-med {
  font-size: 1.4em;
  font-weight: bold;
}

.font-sm {
  font-size: 1.35em;
  text-align: center;
}

/* main */

body {
  background-color: #b7cca1;
}

.section-wrapper {
  padding: 0;
  margin: 0;
  border-radius: 0;
  height: auto;
  min-height: 100vh;
}

.wrapper {
  padding: 0;
  margin: 0;
  border-radius: 0;
}

a {
  font-size: 1.1em;
}

/* nav */

.navbar {
  background-color:#faf9f7;
  padding: 0;
  margin-bottom: 0;
}

.nav-link {
  text-align: center;
}

.section {
  margin: 0;
  padding: 0;
  background-color: #F5F1ED;
}

.react-datepicker__input-container {
  width: 100%;
}

/* headers */

h2 {
  width: 100%;
  text-align: left;
  color:#F5F1ED;
  /* background-color: #ffc107; */
  background-color: #51930a;
  font-weight: bolder;
  margin: 0;
  padding: 1em;
  align-self: flex-start;
  opacity: 0.7;
}

h3 {
  color: black;
  width: 100%;
  padding: 3em;
  margin: 0;
  font-weight: 400px;
  line-height: 1.5;
  background-color: #F5F1ED;
}

h4 {
  color: black;
  width: 100%;
  font-size: 2em;
  font-weight: bold;
}

/* buttons */

.btn-warning{
  font-weight: 800;
  padding: 0.5em;
  font-size: 1.3em;
  color: black;
  opacity: 0.8;
  float: right;
}

.butn {
  outline: none;
	border: none;
  background-color: #51930a;
	color: #faf9f7;
	font-size: 24px;
  padding: 10px 24px;
  border-radius: 4px;
	letter-spacing: 1.3px;
	box-shadow: inset 0 2px 0 rgba(120, 194, 145, 0.9), 0 2px 3px rgb(188, 188, 188);
}

.butn:hover {
  background: #51930a;
  text-decoration: none;
}

/* effects */

.filter {
  filter: brightness(70%);
}

.opacity {
  opacity: 0.85;
}

.shadow {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(161,168,163,0.51);
  -moz-box-shadow: 10px 10px 5px 0px rgba(161,168,163,0.51);
  box-shadow: 10px 10px 5px 0px rgba(161,168,163,0.51); 
}

.bg-tag-lines {
  filter: brightness(50%);
}

.border {
  border: 30px solid white;
}
.bb {
  border-bottom: 2px solid white;
}

.br {
  border-right: 2px solid black;
}

.bbb {
  border-bottom: 2px solid rgb(161, 159, 159);
  padding-bottom: 2em;
}

.bt {
  border-top: 2px solid rgb(161, 159, 159);
}

#connectCol {
  border-right: 2px solid rgba(0, 0, 0, 0.123);
  border-left: 2px solid rgba(0, 0, 0, 0.123);
}
/* links  */

.btn-link {
  color:black;
  transition: 1s;
}

.btn-link:hover {
  color: #51930a;
}

.nav-link {
  font-size: 1.2em;
}

/* icons */

.fa-address-card-o, .fa-home, .fa-book, .fa-phone-square, .fa-dollar{
  font-size: 5rem;
  color: #51930a;
}

.fa-instagram, .fa-facebook-square, .fa-envelope-o, .fa-star-o {
  font-size: 1.8em;
  padding: 1em;
  /* color:  #51930a; */
  color: #51930a;
  opacity: 0.8;
}

.fa-star {
  color: rgba(182, 182, 37, 0.89);
  font-size: 1.5em;
}

/* position */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  top: 100%;
  width: 100%;
  transform: translateY(100%);
}

.top-profile {
  transform: translateY(-20%);
}

/* landing  */
.heroImage{
  background-image: url(./images/heroImage.jpg);
  height: -webkit-fill-available;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(100%);
}

.header {
  opacity: 0.95;
  transform: translateY(100%);
  top: 100%;
  /* background-color:#f5f1ed; */
  background-color: white;
  font-weight: bolder;
  color: black;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(161,168,163,0.51);
  -moz-box-shadow: 10px 10px 5px 0px rgba(161,168,163,0.51);
  box-shadow: 10px 10px 5px 0px rgba(161,168,163,0.51);
  text-align: center;
}

.myCard {
  background-color: #f5f1ed;
  padding: 2em;
  border-radius: 0;
  flex-direction: column;
}

.faq-body {
  background-color: #b7cca1;
  color: rgb(90, 89, 89);
  padding: 2em;
  text-align: center;
}

.bg-img-col {
  height: -webkit-fill-available;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3em;
  margin: 0;
}

.caption {
  background-color: #F5F1ED;
  opacity: 0.85;
  padding: 2em;
  text-align: center;
}

.accordion>.card .card-header {
  padding: 3em;
  background-color: #f5f1ed;
  text-align: center;
}

/* forms */

select {
  font-size: 0.8em;
  border: 1px solid #ced4da;
  color: gray;
}

.form-group {
  text-align: left;
}

.form-control {
  text-align: left;
}

.has-aux {
  display: flex;
  flex-direction: row;
}

.rbt-input-wrapper {
  display: flex;
}

.rbt-token {
  margin-right: 1em;
}

.rbt-close {
  color: red;
  font-size: 1.2em;
  padding: 1em;
}

/* profile */

.cover-image {
  background-position: center;
  background-size: cover;
  height: 550px;
}

.profile-image {
  object-fit: cover;
  width: 150px;
  height: 150px;
  max-width: 180px;
  max-height: 180px;
}

.profile-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

/* hostel */

.hostel-logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.footer {
  background-color: #b7cca1;
  color: black;
  font-size: 1.2em;
  width: 100%;
  position: relative; 
  margin-top: 5%;
}

/* chat */

.resp-toggle {
  display: none;
}


@media screen and (max-width: 992px){
  .section-wrapper{
    height: 100%;
  }
   .reset {
    margin: 0!important;
    padding: 0!important;
    width: 100%!important;
  }

  .height-sm {
    height: 500px!important;
  }

}

@media screen and (max-width: 768px) {
  .navbar {
    background-color: #b7cca1;
    flex-direction: row!important;
  }
  .navbar-brand {
    width: auto!important;
  }

  .height-sm {
    height: 350px!important;
  }

  h2 {
    padding: 30px;
    font-size: 30px;
    text-align: center;
  }

  h3 {
    padding: 30px;
    font-size: 25px;
  }

  h4 {
    font-size: 25px;
  }

  .font-sm {
    font-size: 20px;
  }

  .display-4 {
    font-size: 28px;
    text-align: justify;
  }

  .none {
    display: none;
  }

  .resp-toggle {
    display: block;
    cursor: pointer;
  }

  .header {
    top: 10%;
    transform: translateY(10%);
    opacity: 0.75;
  }

  .bg-img-col {
    padding: 1em;
  }

  .height {
    height: 100%;
  }

  .width {
    width: 50%!important;
  }

  #connectCol {
    border: none;
  }

  .b-nav {
    border-bottom: 1px solid gray;
    background-color:#f8f9fa;
  }

  .butn {
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 3px;
    letter-spacing: 1.1px;
  }

  /* messenger */

  .toggle-none {
    display: none;
  }

  .toggle-block {
    display: block;
  }

}
@media screen and (max-width: 540px) {
  h2 {
    padding: 30px;
    font-size: 30px;
    text-align: center;
  }

  h3 {
    padding: 35px;
    font-size: 25px;
  }

  h4 {
    font-size: 26px;
  }

  .font-sm {
    font-size: 18px;
  }

  .display-4 {
    font-size: 25px;
    text-align: justify;
  }

  .none {
    display: none;
  }

  .header {
    top: 10%;
    transform: translateY(10%);
    opacity: 0.75;
  }

  .navbar {
    background-color: #b7cca1;
  }

  .bg-img-col {
    padding: 1em;
  }

  .height {
    height: 100%;
  }
  
}